@media only screen and (max-width: 992px) {
    .sm_box {
        width: 350px;
        height: 280px;
        padding: 29px 29px;
    }
    .pr_title h3 {
        font-weight: bold;
        font-size: 16px;
    }
    .tp_list {
        width: 281px;
        height: 76px;
    }
    .tp_btn,
    .info_txt {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
    .btn_block {
        margin-top: 0px;
    }
    .google-btn {
        padding: 15px 25px !important;
        font-size: 16px !important;
        margin-top: 30px;
    }
    .info_lt li svg {
        width: 24px;
        height: 24px;
    }
    .tp_list li svg {
        width: 29px;
        height: 29px;
    }
    .tp_list li a {
        font-weight: 500;
        font-size: 16px;
    }
    .btn_block {
        margin-top: 0px;
    }
    .google-btn {
        padding: 11px 25px;
        font-size: 14px;
    }
    .main-box {
        width: 600px;
        height: 474px;
    }
    .tp_block {
        padding: 22px 22px 0;
    }
    .ct_block {
        padding: 10px 20px;
        display: block;
    }
    .footer_block {
        padding: 0;
    }
    .privacy-desc {
        font-size: 16px;
        line-height: 25px;
    }
    .link_btn {
        font-weight: 500;
        font-size: 16px !important;
        margin-top: 5px;
        padding: 4px 15px;
    }
    .btm_btn_svg {
        display: inline !important;
    }
    .btm_btn {
        display: none;
    }
    .nav-link span {
        display: none !important;
    }
    #nav-tab .nav-link {
        padding: 20px 39px 17px 39px;
        width: 33.33% !important;
        background-color: transparent;
    }
    .ct_flw {
        border-top: 1px solid #e3eaff;
        border-bottom: 1px solid #e3eaff;
        padding: 15px 5px;
    }
    .switch {
        width: 52px;
        height: 28px;
    }
    .slider:before {
        height: 22px;
        width: 22px;
        left: 4px;
        bottom: 3px;
    }
    .qt_txt,
    .off,
    .on {
        font-size: 13px;
    }
    .on {
        color: #fff;
        position: absolute;
        transform: translate(-110%, -50%);
        top: 50%;
        left: 50%;
    }
    .slider {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: -7px;
        flex: 50%;
    }
    .qt_txt {
        flex: 50%;
    }
    .ct_desc_para {
        font-size: 13px;
        line-height: 1px;
    }
    .qt_txt_2 {
        margin-left: -27px;
    }
    .ct_desc_txt {
        font-size: 13px;
    }
    .pr_sec {
        bottom: 30px;
        left: 15px;
    }
    .cp_btm {
        height: 60px;
        width: 60px;
    }
    .cp_btm img {
        width: 32px;
        height: 32px;
    }
}

@media only screen and (max-device-width: 576px) {
    /* .sm_box {      for popup3
        width: 333px;
        height: 241px;
        padding: 25px 26px;
    } */
    .sm_box {
        width: 333px;
        height: 221px;
    }
    .pr_title h3 {
        font-weight: bold;
        font-size: 16px;
    }
    .tp_list {
        width: 281px;
        height: 76px;
    }
    .tp_btn,
    .info_txt {
        font-weight: 450;
        font-size: 14px;
        line-height: 21px;
    }
    .btn_block {
        margin-top: 0px;
    }
    .google-btn {
        padding: 11px 25px;
        font-size: 14px;
    }
    .info_lt li svg {
        width: 24px;
        height: 24px;
    }
    .tp_list li svg {
        width: 24px;
        height: 24px;
    }
    .tp_list li a {
        font-weight: 500;
        font-size: 16px;
    }
    .main-box {
        width: 333px;
        height: 474px;
        padding: 29px;
    }
    .tp_block {
        padding: 0;
    }
    .ct_block {
        padding: 5px 23px 0px 23px;
        margin: 0px -28px 0 -28px;
        display: block;
    }
    .footer_block {
        padding: 0;
    }
    .privacy-desc {
        font-size: 13px;
        line-height: 20px;
    }
    .link_btn {
        font-size: 13px !important;
        padding: 3px 10px;
    }
    .view_btn {
        display: none !important;
    }
    .footer_btn a {
        display: none;
    }
    .btm_btn_svg {
        display: inline !important;
    }
    .btm_btn {
        display: none;
    }
    .nav-link span {
        display: none !important;
    }
    #nav-tab .nav-link {
        padding: 20px 39px 17px 39px;
        width: 33.33% !important;
        background-color: transparent;
    }
    .ct_flw {
        border-top: 1px solid #e3eaff;
        border-bottom: 1px solid #e3eaff;
        padding: 15px 5px;
    }
    .switch {
        width: 52px;
        height: 28px;
    }
    .slider:before {
        height: 22px;
        width: 22px;
        left: 4px;
        bottom: 3px;
    }
    .qt_txt,
    .off,
    .on {
        font-size: 13px;
    }
    .on {
        color: #fff;
        position: absolute;
        transform: translate(-110%, -50%);
        top: 50%;
        left: 50%;
    }
    .slider {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: -7px;
        flex: 50%;
    }
    .qt_txt {
        flex: 50%;
    }
    .ct_desc_para {
        font-size: 13px;
        line-height: 1px;
    }
    .qt_txt_2 {
        margin-left: -27px;
    }
    .ct_desc_txt {
        font-size: 13px;
    }
    a.btm_btn_svg svg {
        height: 15px;
    }
}