html {
	overflow-x: hidden;
	position: relative;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #6C7688;
}

img {
	max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
	text-decoration: none;
	outline: none;
	box-shadow: none !important;
}

i,
span,
a {
	display: inline-block;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Circular Std';
	letter-spacing: .4px;
}

ul,
ol {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

p,
a,
.btn,
li,
span,
label,
button {
	font-family: 'Circular Std';
	margin: 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

::selection {
	background: #0D3252;
	color: #fff;
}

::-webkit-scrollbar {
	width: 3px;
}


/* Track */

::-webkit-scrollbar-track {
	background: #f9f9f9;
}


/* Handle */

::-webkit-scrollbar-thumb {
	background-color: #0D3252;
	border-radius: 3px;
	opacity: .6;
}
#myModal {
	opacity: 0;
	transition: opacity 1s; 
  }
  
#myModal.fade {
opacity: 1;
}

.main-box {
	background: #F4F7FF;
	border: 1px solid #D2DCFF;
	box-shadow: 0px 28px 24px rgba(227, 227, 227, 0.31);
	border-radius: 30px;
	width: 600px;
	/*height: 488px;*/
	margin-left: 20px;
	margin-bottom: -50px;
}

.tp_block {
	padding: 25px 32px 0;
}

.pr_title {
	font-weight: bold;
	font-size: 24px;
	line-height: 1.3;
	color: #1D293F;
	margin-bottom: 12px;
}

.privacy-desc {
	font-family: 'Circular Std Book';
	color: #6C7688;
	font-size: 14px;
	line-height: 1.3;
}

.privacy-desc span {
	color: #1D293F;
}

.link_btn {
	background: #E6ECFF;
	border-radius: 30px;
	text-decoration: none;
	padding: 5px 15px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.1;
	text-align: center;
	color: #0F70B7;
}

.ct_block {
	background-color: #fff;
	border-bottom: 1px solid #EDF2FF;
	border-top: 1px solid #EDF2FF;
	padding: 22px 32px;
	display: block;
}

.footer_block {
	padding: 26px;
}

.footer {
	width: 399px;
	height: 55px;
	margin: 28px 30px 34px 374px;
}

.footer_btn {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
}

.btm_btn {
	background: #0D3253;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 30px;
    width: 203px;
    border: 1px solid #0D3253;
    position: relative;
}

.btm_btn:hover {
	color: #fff;
}

.btm_btn svg {
	margin-right: 4px;
	vertical-align: middle;
}

.btn_lt {
	margin-left: 10px;
	background: #FFFFFF;
	border: 1px solid #E9EEFF;
	color: #1D293F;
}

.btn_lt:hover {
	color: #1D293F;
}

.img-thumbnail {
	background-color: transparent;
	border: none;
	vertical-align: middle;
}

.cp_btm {
	background: #0D3253;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	text-align: center;
	border: 4px solid #e4ebfe;
	z-index: 9;
	position: relative;
}

.pr_sec {
	position: fixed;
	bottom: 100px;
	left: 22px;
}

.pr_title svg {
	margin-right: 5px;
}

.nav_tp {
	background-color: #f4f7ff;
}


#nav-tab_tp .navbar_links {
	padding: 18px 8px;
    width: 32% !important;
    border: none;
    display: inline-block;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    vertical-align: sub;
    color: #1D293F;
    border-bottom: 2px solid transparent;
}

#nav-tab_tp .navbar_links svg {
	vertical-align: middle;
	margin-right: 10px;
}

#nav-tab_tp .navbar_links.btn_active{
	border-bottom:  2px solid #0D3252;
}

.qt_txt,
.off,
.on {
	font-weight: 500;
    line-height: 1.1;
    color: #1D293F;
}
.qt_txt{
	width: 80% ;
	font-size: 14px;
}
.off,
.on {
	font-size: 12px;
}

.ct_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

.tab-content {
	padding: 0;
	height: 210px;
	overflow-y: scroll;
}

.ct_flw {
	border-top: 1px solid #e3eaff;
	border-bottom: 1px solid #e3eaff;
	padding: 15px 32px;
}

.on {
	display: none;
}

.off {
	color: #0F70B7;
	position: absolute;
	transform: translate(-0%, -50%);
	top: 50%;
	left: 50%;
}

.on {
	color: #fff;
	position: absolute;
	transform: translate(-110%, -50%);
	top: 50%;
	left: 50%;
}

.switch {
	position: relative;
    display: inline-block;
    width: 58px;
    height: 29px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #D2DCFF;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 3px;
    background-color: #B6C6FF;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
	background-color: #0D3253;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(31px);
	-ms-transform: translateX(31px);
	transform: translateX(27px);
	background-color: #fff;
}

input:checked+.slider .on {
	display: block;
}

input:checked+.slider .off {
	display: none;
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.sm_box {
	width: 385px;
	height: 330px;
	background: #fff;
	border: 1px solid #D2DCFF;
	box-shadow: 0px 28px 24px rgba(227, 227, 227, 0.31);
	border-radius: 30px;
	padding: 30px 32px;
	margin-left: 20px;
	margin-bottom: -50px;
}

.tp_list li {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 20px 0;
}

.tp_btn,
.info_txt {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: #1D293F;
	margin-left: 15px;
}

.tp_btn:hover {
	color: #1D293F;
}

.info_txt {
	font-family: 'Circular Std Book';
	color: #6C7688;
	width: 100%;
	font-size: 18px;
}

.info_lt li {
	align-items: flex-start;
	margin-bottom: 0;
}

.info_lt li svg {
	width: 33px;
	height: 33px;
}

.google-btn img {
	margin-right: 12px;
}

.google-btn {
	display: block;
	padding: 20px 35px;
	background: #fff;
	border: 1px solid #D2DCFF;
	box-shadow: 0px 28px 24px rgba(227, 227, 227, 0.31);
	border-radius: 30px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1;
	text-align: center;
	color: #1D293F;
}

.google-btn:hover {
	color: #1D293F;
	background-color: #D2DCFF;
}

.btn_block {
	margin-top: 80px;
}
.ct_desc_main{
	margin-left: 26px;
}
.ct_desc{
	color: #1D293F;
	font-family: Circular Std;
	font-style: normal;
	font-weight: 450;
	font-size: 16px;
	margin-top: 5px;
	margin-left: 24px;
}
.ct_desc_para{
	font-family: Circular Std;
	font-style: normal;
	font-weight: 450;
	font-size: 14px;
	display: inline;
	line-height: 25px;
	color: #5A6579;
}

.btm_btn_svg{
	border: 1px #0D3253 solid;
    padding: 6px 7px 3px 7px;
    border-radius: 50%;
    background: #0D3253;
	margin: 7px;
}
.btm_btn_svg_l{
	border: 1px #E9EEFF solid !important;
	background: #FFFFFF;
	margin-right: 25px;
}
.ct_desc_second_child{
	margin-left: 20px;
}
.ct_desc_vendor ul li{
    display: inline-block;
	width: 49%;
	margin: 5px 0;
}
.margin_top_1{
	margin-top: 4px;
}
.margin_top_2{
	margin-top: 8px;
}
.margin_top_3{
	margin-top: 16px;
}
.margin_btm_2{
	margin-bottom: 8px;
}

